/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header */
  header {
    background-color: #ffffff;
    color: black;
    padding: 10px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul.nav-menu {
    list-style-type: none;
    text-align: right; /* Align the menu to the right */
  }
  
  nav ul.nav-menu li {
    display: inline;
    margin-left: 10px; /* Add some spacing between menu items */
  }

  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
  }

  .logo {
    max-width: 150px;
  }
  
  /* Hero section */
  .hero {
    text-align: left;
    padding: 0px 0px 20px 0px;
    background-color: #00555c;
    background-image: linear-gradient(to right bottom, #2f4cde, #022426);
    height: 100vh;
    display: flex;
  }
  
  .hero h1 {
    font-size: 4.9rem;
    color: white;
    font-weight: 400;
    line-height: 5.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .hero h1 span{
    font-weight: 700;
  }

  .hero-text-content{
    padding: 70px;
  }

  .intro-tag{
    color: white;
  }

  .mission-statement{
    color: white;
    font-size: 1.8rem;
  }

  .icon-div{
    background-image: url("AutomateXIcon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  width: 70%;
  }

  .ai-not-scary-hero {
    text-align: left;
    padding: 0px 0px 20px 0px;
    background-image: url("ai-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
  }

  .ai-div{
   
  height: 500px;
  width: 500px;
  }

  .consultation-button{
    margin-top: 40px;
    height: 45px;
    background-image: linear-gradient(to right, #e08c17, #ebd403 );
    width: 20rem;
  }

  .consultation-button:hover{
    cursor: pointer;
    opacity: .9;
  }

  .consultation-button p{
    padding: 10px;
    color: white;
    font-weight: 500;
  }

  .ai-not-scary-hero h1{
    font-size: 80px;
    color: white;
    font-weight: 400;
  }

  .ai-statement{
    font-size: 20px;
    color: white;
  }

  .container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .section-heading {
    text-align: center;
    margin-bottom: 10rem;
  }
  
  .section-heading h1 {
    font-size: 3.5rem;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    color: #f39d2e;
  }
  
  .has-margin-right {
    margin-right: 5rem;
  }

 

  .portfolio{
    background-image: url("about-us-bg.png");
    color: white;
  }

  .portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: ;
  }
  
  .portfolio-item:last-child {
    margin-bottom: 0;
  }
  
  .portfolio-img {
    flex: 1;
  }
  
  .portfolio-description {
   
  }
  
  .portfolio-description h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0;
  }
  
  .portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #f39d2e;
  }
  
  .portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transform: color 650ms;
  }
  
  .portfolio-description .cta:hover {
    color: #2f67cd;
  }

  .section-heading{
    text-align: center;
    font-size: 2rem;
    color: #f39d2e;
    margin-bottom: 3rem;
  }

  /* Services section */
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .service {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .service img {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  /* About and Contact sections */
  .about,
  .contact {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .hero-text-content {
      padding: 10px;
    }
  
    .hero h1{
        font-size: 4rem;
    } 

    .mission-statement{
        font-size: 1.5rem;
    }

    .service {
      width: 100%;
    }

    .icon-div{
        height: 0%;
        width: 0%;
    }
  
  }
  
  @media screen and (max-width: 600px) {

    .portfolio-item {
      flex-direction: column;
    }
    .portfolio-img {
      margin: 0 0 2rem 0;
    }
    .portfolio-description {
      margin: 0;
      order: 2;
    }
  
}